{% extends 'base.html' %}

{% block page_name %}
    <title>Wordle</title>
{% endblock page_name %}

{% block content %}
    <main>
        {{wordlehistory.difficulty}}
        {% for guess in tried %}
            <div class="letter-list">
                {% for letter in guess %}
                    <div class="letter-card" style="background-color: {{letter.1}};">{{letter.0}}</div>
                {% endfor %}
            </div>
        {% endfor %}
        {% if not wordlehistory.cleared %}
            <form method="POST" autocomplete="OFF">
                {% csrf_token %}
                <input name="word_guess" type="text" autofocus>
                <button>Guess</button>
            </form>
            {% if error_message|length > 0 %}
                {{error_message}}
            {% endif %}
        <div class="avail-letter-list">
            <div>
                Unused letters
            </div>
            {% for letter in available_letters %}
                <div class="avail-letter-card">
                    {{letter}}
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p>Congrats!</p>
            <div class="container">
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
            </div>
            <div class="cat-location swing__cat">
                <div class="all-wrap">
                    <div class="all">
                        <div class="yarn"></div>
                        <div class="cat-wrap">
                            <div class="cat">
                                <div class="cat-upper">
                                    <div class="cat-leg"></div>
                                    <div class="cat-leg"></div>
                                    <div class="cat-head">
                                        <div class="cat-ears">
                                            <div class="cat-ear"></div>
                                            <div class="cat-ear"></div>
                                        </div>
                                        <div class="cat-face">
                                            <div class="cat-eyes"></div>
                                            <div class="cat-mouth"></div>
                                            <div class="cat-whiskers"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cat-lower-wrap">
                                    <div class="cat-lower">
                                        <div class="cat-leg">
                                            <div class="cat-leg">
                                                <div class="cat-leg">
                                                    <div class="cat-leg">
                                                        <div class="cat-leg">
                                                            <div class="cat-leg">
                                                                <div class="cat-leg">
                                                                    <div class="cat-leg">
                                                                        <div class="cat-leg">
                                                                            <div class="cat-leg">
                                                                                <div class="cat-leg">
                                                                                    <div class="cat-leg">
                                                                                        <div class="cat-leg">
                                                                                            <div class="cat-leg">
                                                                                                <div class="cat-leg">
                                                                                                    <div class="cat-leg">
                                                                                                        <div class="cat-paw"></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cat-leg">
                                            <div class="cat-leg">
                                                <div class="cat-leg">
                                                    <div class="cat-leg">
                                                        <div class="cat-leg">
                                                            <div class="cat-leg">
                                                                <div class="cat-leg">
                                                                    <div class="cat-leg">
                                                                        <div class="cat-leg">
                                                                            <div class="cat-leg">
                                                                                <div class="cat-leg">
                                                                                    <div class="cat-leg">
                                                                                        <div class="cat-leg">
                                                                                            <div class="cat-leg">
                                                                                                <div class="cat-leg">
                                                                                                    <div class="cat-leg">
                                                                                                        <div class="cat-paw"></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cat-tail">
                                            <div class="cat-tail">
                                                <div class="cat-tail">
                                                    <div class="cat-tail">
                                                        <div class="cat-tail">
                                                            <div class="cat-tail">
                                                                <div class="cat-tail">
                                                                    <div class="cat-tail">
                                                                        <div class="cat-tail">
                                                                            <div class="cat-tail">
                                                                                <div class="cat-tail">
                                                                                    <div class="cat-tail">
                                                                                        <div class="cat-tail">
                                                                                            <div class="cat-tail">
                                                                                                <div class="cat-tail">
                                                                                                    <div class="cat-tail -end"></div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock content %}
