{% extends 'base.html' %}

{% block page_name %}
    <title>Wordle</title>
{% endblock page_name %}

{% block content %}
    <main class="game-board">
        <div class="cat-paw"></div>
        {% for guess in tried %}
            <div class="letter-list">
                {% for letter in guess %}
                    <div class="letter-card" style="background-color: {{letter.1}};">{{letter.0}}</div>
                {% endfor %}
            </div>
        {% endfor %}
        {% if not wordlehistory.cleared and failed != "f" %}
            <div class="form-container">
                <form method="POST" autocomplete="OFF" class="form-text">
                    {% csrf_token %}
                    <input name="word_guess" type="text" autofocus>
                    <button class="button">Guess</button>
                </form>
            </div>
            {% if error_message|length > 0 %}
                <p class="greeting">{{error_message}}</p>
            {% endif %}
            <div class="avail-letter-list">
                <div>
                    Found letters
                </div>
                {% for letter in valid_letters %}
                    <div class="avail-letter-card">
                        {{letter}}
                    </div>
                {% endfor %}
            </div>
            <div class="avail-letter-list">
                <div>
                    Unused letters
                </div>
                {% for letter in available_letters %}
                    <div class="avail-letter-card">
                        {{letter}}
                    </div>
                {% endfor %}
            </div>
        {% elif wordlehistory.cleared %}
            <h2 class="greeting">Congratulations!!</h2>
            <div class="definitions">
                Definitions:
                {% for item in definition%}
                    {% if forloop.counter0|divisibleby:2 %}
                        <p>{{item}}</p>
                    {% else %}
                        <p style="margin-left: 25px; font-weight:300">{{item}}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <a href="{% url 'new_game' %}">
                <img src="https://cdn.discordapp.com/attachments/1021875289644613705/1022244672220975154/new_game_button.png" class="new-game-button">
            </a>
            <div class="container">
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
                <div class="confetti">
                </div>
            </div>
            <div class="cat-location swing__cat">
                <div class="all-wrap">
                    <div class="all">
                        <div class="yarn"></div>
                        <div class="cat-wrap">
                            <div class="cat">
                                <div class="cat-upper">
                                    <div class="cat-leg"></div>
                                    <div class="cat-leg"></div>
                                    <div class="cat-head">
                                        <div class="cat-ears">
                                            <div class="cat-ear"></div>
                                            <div class="cat-ear"></div>
                                        </div>
                                        <div class="cat-face">
                                            <div class="cat-eyes"></div>
                                            <div class="cat-mouth"></div>
                                            <div class="cat-whiskers"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cat-lower-wrap">
                                    <div class="cat-lower">
                                        <div class="cat-leg">
                                            <div class="cat-leg">
                                                <div class="cat-leg">
                                                    <div class="cat-leg">
                                                        <div class="cat-leg">
                                                            <div class="cat-leg">
                                                                <div class="cat-leg">
                                                                    <div class="cat-leg">
                                                                        <div class="cat-leg">
                                                                            <div class="cat-leg">
                                                                                <div class="cat-leg">
                                                                                    <div class="cat-leg">
                                                                                        <div class="cat-leg">
                                                                                            <div class="cat-leg">
                                                                                                <div class="cat-leg">
                                                                                                    <div class="cat-leg">
                                                                                                        <div class="cat-paw"></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cat-leg">
                                            <div class="cat-leg">
                                                <div class="cat-leg">
                                                    <div class="cat-leg">
                                                        <div class="cat-leg">
                                                            <div class="cat-leg">
                                                                <div class="cat-leg">
                                                                    <div class="cat-leg">
                                                                        <div class="cat-leg">
                                                                            <div class="cat-leg">
                                                                                <div class="cat-leg">
                                                                                    <div class="cat-leg">
                                                                                        <div class="cat-leg">
                                                                                            <div class="cat-leg">
                                                                                                <div class="cat-leg">
                                                                                                    <div class="cat-leg">
                                                                                                        <div class="cat-paw"></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cat-tail">
                                            <div class="cat-tail">
                                                <div class="cat-tail">
                                                    <div class="cat-tail">
                                                        <div class="cat-tail">
                                                            <div class="cat-tail">
                                                                <div class="cat-tail">
                                                                    <div class="cat-tail">
                                                                        <div class="cat-tail">
                                                                            <div class="cat-tail">
                                                                                <div class="cat-tail">
                                                                                    <div class="cat-tail">
                                                                                        <div class="cat-tail">
                                                                                            <div class="cat-tail">
                                                                                                <div class="cat-tail">
                                                                                                    <div class="cat-tail -end"></div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="definitions">
                <p>Better luck next time!</p>
                <p>The word was: {{wordlehistory.word|upper}}</p>
                Definitions:
                {% for item in definition%}
                    {% if forloop.counter0|divisibleby:2 %}
                        <p>{{item}}</p>
                    {% else %}
                        <p style="margin-left: 25px; font-weight:300">{{item}}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <a href="{% url 'new_game' %}">
                <img src="https://cdn.discordapp.com/attachments/1021875289644613705/1022244672220975154/new_game_button.png" class="new-game-button">
            </a>
        {% endif %}
        {% comment %} <audio id="player" loop="true">
            <source src="https://cdn.discordapp.com/attachments/1021875289644613705/1024159110486302830/wizzy.mp3">
        </audio> {% endcomment %}
    </main>
{% endblock content %}
