{% extends 'base.html' %}

{% block page_name %}
  <title>Wordle</title>
{% endblock page_name %}

{% block content %}
  <main>
    {% for guess in tried %}
        <div class="letter-list">
            {% for letter in guess %}
                <div class="letter-card" style="background-color: {{colors}};">{{letter}}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <form method="POST" autocomplete="OFF">
        {% csrf_token %}
        <input name="word_guess" type="text">
        <button>Guess</button>
    </form>
    {% if error_message|length > 0 %}
        {{error_message}}
    {% endif %}
  </main>
{% endblock content %}
