{% extends 'base.html' %}

{% block page_name %}
  <title>Wordle history</title>
{% endblock page_name %}

{% block content %}
  <main>
    {% if not user.is_authenticated %}
      <div class="generic-bold-message">
        Log in or register a new account to track your wordle history!
      </div>
    {% endif %}
    <a href="{% url 'new_game' %}">
      <img src="https://cdn.discordapp.com/attachments/1021875289644613705/1022244672220975154/new_game_button.png" class="new-game-button">
    </a>
    {% if user.is_authenticated %}
      <h1 class="greeting">Welcome {{user|upper}}!</h1>
      <h4 class="greeting">Your past games</h4>
      <div class="history-gallery">
        {% for item in wordlehistory_list %}

          <div class="gallery-card">
            {% if item.difficulty == "Very easy" %}
              <div class="difficulty-bar" style="background-color: rgb(117, 182, 57);"></div>
            {% elif item.difficulty == "Easy" %}
              <div class="difficulty-bar" style="background-color: rgb(155, 182, 57);"></div>
            {% elif item.difficulty == "Moderate" %}
              <div class="difficulty-bar" style="background-color: rgb(170, 147, 43);"></div>
            {% elif item.difficulty == "Difficult" %}
              <div class="difficulty-bar" style="background-color: rgb(182, 124, 57);"></div>
            {% elif item.difficulty == "Very difficult" %}
              <div class="difficulty-bar" style="background-color: rgb(182, 57, 57);"></div>
            {% else %}
              <div class="difficulty-bar" style="background-color: gray"></div>
            {% endif %}

            <div class="info">
              {{item.word|upper}}
              <div class="difficulty">
                {{item.difficulty}}
              </div>
            </div>

            <div class="clear-status">
              <div class="clear-status-grid">
                {% if item.cleared %}
                  <div class="desc">
                    Cleared in<br>
                    {{item.guesses_needed}} tries
                  </div>
                  <img src="https://cdn.discordapp.com/attachments/1021875289644613705/1022282651480109066/check-mark-circle-icon.png">
                {% else %}
                  <div class="desc">
                    Failed with<br>
                    {{item.tries}} tries
                  </div>
                  <img src="https://cdn.discordapp.com/attachments/1021875289644613705/1022288144621633606/x-mark-circle-icon.png">
                {% endif %}
              </div>
            </div>

          </div>
        {% endfor %}
      </div>
    {% endif %}
  </main>
{% endblock content %}
